name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  theme-check:
    name: Theme Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"

      - name: Install Theme Check
        run: gem install theme-check

      - name: Run Theme Check
        run: theme-check theme-dev/starter-theme
